//- -*- tab-width: 2 -*-
extends ../includes/layout

block vars
  - var ngAppDef = 'ResvForm'

append scripts
  script.
    var competitionId = "#{competition}"
    var leagueId = "#{league}"
    var teamId = "#{team}"
    var token = "#{token}"
    var resvId = "#{resvId}"
  script(src='/javascripts/reservation/form.js')

block navbar
    nav.navbar(style='background-color: #283655; color: #fff; position: fixed; top: 0; z-index:10 ;  width: 100%')
        .col-sm-11
            span(style="font-size:20px;")
                i.fas.fa-calendar-day &nbsp;
                | {{competition.name}} - {{resv.name}}
        .col-sm-1(style="text-align:right;")
            button.btn.btn-primary(type='button', onclick="location.href='/locales'", ng-cloak, style="padding:2px 5px 0px 3px;margin-right:10px;")
                i.fas.fa-language(style="font-size:30px;")

block location
    a.breadcrumb-item(ng-click="go('/home')") Home
    a.breadcrumb-item(ng-click="go('/mypage/'+ teamId + '/' + token)") #{teamName}
    span.breadcrumb-item.active {{resv.name}}


block content
  .row
    .col-md-1
    .col-md-10
      div(style="text-align:center;")
        h1 {{resv.name}}
        h5 {{competition.name}} - {{leagueName}}
        h4 #{teamCode} #{teamName}
      
      .alert.alert-primary.text-center(role='alert')
        h4.alert-heading {{"reservation.deadline" | translate}}: 
          strong(ng-bind="deadline()")
        span {{"reservation.timeZone" | translate}}
      hr
      p(ng-bind-html="resv.description")

      .alert.alert-success.text-center(role='alert', ng-if="myBook")
        h4.alert-heading 
          i.fas.fa-calendar-check &nbsp;
          | {{"reservation.myResv" | translate}}
        h5 {{"reservation.start" | translate}}:&nbsp;
          strong(ng-bind="time(myBook.start)")
        div(ng-if="inDeadline()")
          p {{"reservation.change" | translate}}
          button.btn.btn-danger.btn-sm(type='button', ng-click='cancel(myBook)', style="margin:0 5px;")
            i.fas.fa-times &nbsp;
            | {{"reservation.cancel" | translate}}
      
      table.custom(ng-if="inDeadline()")
        thead
            tr
              th {{"reservation.start" | translate}}
              th {{"reservation.duration" | translate}}
              th {{"reservation.status" | translate}}
              th(ng-if="!myBook") {{"reservation.makeResv" | translate}}
        tbody
            tr(ng-repeat="r in resv.slot | orderBy: 'start'")
              td(ng-bind="time(r.start)")
              td(ng-bind="r.duration")
              td 
                i.fas.fa-calendar-check(style="color:#3498db;", ng-if="r.myBooked")
                i.fas.fa-times-circle(style="color:#e74c3c;", ng-if="!r.myBooked && r.available == 0")
                i.fas.fa-circle(style="color:#2ecc71;", ng-if="!r.myBooked && r.available > 0")
              td(ng-if="!myBook")
                button.btn.btn-success.btn-sm(type='button', ng-click='book(r.slotId)', style="margin:0 5px;", ng-if="r.available > 0 && !myBook")
                  i.fas.fa-check &nbsp;
                  | {{"reservation.makeResv" | translate}}
      br