//- -*- tab-width: 2 -*-
extends ../includes/layout

block vars
  - var ngAppDef = 'SurveyForm'

append scripts
  script.
    var competitionId = "#{competition}"
    var teamId = "#{team}"
    var token = "#{token}"
    var leagueId = "#{league}"
    var survId = "#{survId}"
  script(src="/javascripts/survey/form.js")
  script(src='/components/quill/index.js')
  script(src='/components/ngQuill/src/ng-quill.js')
  script(src="/components/ng-file-upload/ng-file-upload.min.js")

append css
    style.
        p{
            margin-bottom: 0;
        }
        img {
            max-width: 100%;
        }
    link(rel='stylesheet', href='/components/quill.snow/index.css')


block navbar
    nav.navbar(style='background-color: #283655; color: #fff; position: fixed; top: 0; z-index:10 ;  width: 100%')
        .col-sm-11
            span(style="font-size:20px;")
                i.fas.fa-question-circle &nbsp;
                | {{competition.name}} - Survey
        .col-sm-1(style="text-align:right;")
            button.btn.btn-primary(type='button', ng-click="changeLocale()", style="padding:2px 5px 0px 3px;margin-right:10px;")
                i.fas.fa-language(style="font-size:30px;")

block location
    a.breadcrumb-item(ng-click="go('/home')") Home
    a.breadcrumb-item(ng-click="go('/mypage/'+ teamId + '/' + token)") {{team.name}}
    span.breadcrumb-item.active {{langContent(survey.i18n, 'name')}}

block content
    .row 
        .col-md-1 
        .col-md-10
            .alert.alert-danger(role='alert',style="margin-bottom: 20px;", ng-if="currentLang != displayLang")
                i.fas.fa-info-circle &nbsp;
                span {{"document.form.languageError" | translate}}

            h2(ng-bind-html="langContent(survey.i18n, 'name')")
            p(ng-bind-html="langContent(survey.i18n, 'topDescription')", style="margin:20px;")
            .alert.alert-secondary(role='alert')
                h4.alert-heading {{"document.deadline" | translate}}: 
                    strong(ng-bind="deadline(survey.deadline)")
                i.fas.fa-info-circle(ng-show="survey.reEdit" style="color:#3498db;") &nbsp;
                    | {{"survey.multiple" | translate}}
                i.fas.fa-exclamation-triangle(ng-show="!survey.reEdit" style="color:#f39c12;") &nbsp;
                    | {{"survey.onlyOnce" | translate}}
            hr
            if !editable
                .alert.alert-warning(role='alert',style="margin-bottom: 20px;")
                    i.fas.fa-info-circle &nbsp;
                    span {{"survey.readOnly" | translate}}
            
            div(ng-repeat="question in survey.questions track by $index")
                div(style="margin-bottom:10px;font-size:20px;")
                    strong(ng-bind="langContent(question.i18n, 'title')")
                div(style="font-size:15px;margin-bottom:10px;")
                    p(ng-bind-html="langContent(question.i18n, 'description')")
                div(ng-if="question.type=='input'")
                    if editable
                        ng-quill-editor(ng-model="answers[question.questionId]")
                    else
                        div(style="margin-top:10px;padding:10px;border: 1px solid #555", ng-bind-html="answers[question.questionId]")
                div(ng-if="question.type=='select'")
                    if editable
                        select.custom-select(ng-model='answers[question.questionId]', ng-options="option.value as option.text for option in langArray(question.i18n, 'options')")
                    else
                        select.custom-select(ng-model='answers[question.questionId]', disabled , ng-options="option.value as option.text for option in langArray(question.i18n, 'options')")
                div(ng-if="question.type=='scale'")
                    if editable
                        .btn-group
                            button.btn.btn-outline-primary(type='button', ng-click='answers[question.questionId] = ans;', ng-repeat='ans in rangeS(question.scale.least, question.scale.most)', ng-class='{active: answers[question.questionId] == ans}')  {{ans}}
                    else
                        .btn-group
                            button.btn.btn-outline-primary(type='button', ng-repeat='ans in rangeS(question.scale.least, question.scale.most)', ng-class='{active: answers[question.questionId] == ans}')  {{ans}}
                div(ng-if="question.type=='file'")
                    strong {{"document.form.max20" | translate}}
                    .row(ng-if="answers[question.questionId]", style="width:100%;")
                        .col-12
                            strong(style="color:#e74c3c;") {{"document.form.overwrite" | translate}}
                            br
                            div(style="text-align:center;margin:10px 0px;")
                                a.btn.btn-primary(type='file' ng-href="/api/survey/answer/{{team._id}}/{{token}}/{{survey._id}}/file/{{question.questionId}}")
                                    i.fas.fa-file-archive &nbsp;
                                    | {{"document.form.uploaded" | translate}}
                    if editable
                        .d-sm-flex.flex-row
                            div
                                button.btn.btn-warning(type='file' ngf-select='uploadFiles(question, $file, $invalidFiles)' ngf-max-size='20MB')
                                    i.far.fa-folder-open
                                    | {{"document.form.selectFile" | translate}}
                            div(style="color:#e74c3c;margin-left:10px;", ng-if="question.errFile.$error")
                                span ERROR: {{question.errFile.$error}}
                            .flex-fill(style="margin:10px 0px 0px 10px;", ng-show="question.f.progress > 0")
                                .progress
                                    .progress-bar(role='progressbar' style='width: {{question.f.progress}}%;' aria-valuenow='{{question.f.progress}}' aria-valuemin='0' aria-valuemax='100') {{question.f.progress}}%
                            div(style="color:#e74c3c;margin-top:10px;", ng-if="question.errorMsg")
                                span {{question.errorMsg}}

                hr(ng-if="!$last")

            div(style="text-align:center;margin:20px 0;" )   
                if editable
                    button.btn.btn-lg.btn-primary(type='button', ng-click='submit()')
                        i.fas.fa-paper-plane &nbsp;
                        | {{"survey.submit" | translate}}
