//- -*- tab-width: 2 -*-
extends ../../includes/layout

block vars
  - var ngAppDef = 'MapSelector'

append scripts
  script.
    const competitionId = "#{competition}"
    const leagueId = "#{league}"
    const teamId = "#{team}"
    const maps = "#{map}"
    const movie = "#{movie}"
    const token = "#{token}"
    const round = "#{round}"
    const questionId = "#{questionId}"
  script(src='/javascripts/document/run/mapSelector.js')
  



block content
  .row
    .col-md-1
    .col-md-10
      h2 Pre-recored Run
      div(style="text-align:center;margin:10px 0px;")
        video(style="max-width:500px;max-height:300px;", controls, preload="metadata", ng-attr-poster="{{getThumbnailLink(movie)}}")
            source(ng-src="{{getVideoLink(v)}}", ng-repeat="v in getVideoList(movie)")
        br
        a(ng-href="{{getVideoLink(getVideoList(movie)[0])}}" download) {{"document.form.cantplay" | translate}}
      hr
      h6 Please select a map

      br

      .row.row-height(style="display: flex;justify-content: space-between;")
        .col-md-4(ng-repeat='map in maps' style="margin-bottom:20px;")
          .card(ng-click="select($index)" style="width:100%;height:100%;text-align:center;" ng-style="{'backgroundColor': selectedMap==$index ? '#2ecc71':''}")
            img.card-img-top(ng-src="/api/document/map/{{map._id}}", alt='' style="max-height:300px;width:100%;object-fit: contain;")
            .card-body
              h3(style="text-align:center" ng-cloak) {{map.name}}
      br
      button(ng-click="createRun()" class='btn btn-success btn-lg btn-block' ng-cloak ng-if="selectedMap!=null&&createB")
              i.fas.fa-calculator &nbsp;  Start Scoring!
      br
